<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/uno">Uno</a></li>
      <li><a href="/dos">Dos</a></li>
      <li><a href="/cuadrado">Cuadrado</a></li>
    </ul>
    {{{body}}}
  </body>
</html>
