main {
    display: flex;
    flex-direction: column;
}

main img {
    padding-top: 30px;
    width: 1080px;
}

h2{
    color: #2265b0;
}

.columnas {
    display: flex;
    justify-content: space-between;
}

.bienvenidos {
    width: 70%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios {
    width: 25%;
}

.testimonio {
    background: linear-gradient(135deg, #ccc 0%, rgb(171, 171, 171) 52%,rgb(157, 157, 157) 100%);
    border-radius: 10px;
    padding: 15px;
}

.testimonio .cita{
    font-weight: bold;
    font-style: italic;
    font-size: 22px;
    display: block;
}

.testimonio .autor {
    font-size: 13px;
    text-align: right;
    display: block;
    margin: 12px 0;
}

main {
    min-height: 600px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}