main {
    display: flex;
    flex-direction: column;
    min-height: 800px;
    padding-top: 20px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.personas {
    display: flex;
    flex-direction: row;
}

.persona {
    margin: 5px;
    border: 1px solid rgb(53, 53, 53);
    border-radius: 15px;
    padding: 20px 2px 10px 2px;
    text-align: center;
}

.personas img {
    border-radius: 50px;
    box-shadow: 0 0 5px rgb(42, 42, 42);
}

h5, h6 {
    color: #2265b0;
}

h5 {
    margin: 20px;
    font-size: 16px;
}

h6 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 100;
    font-style: italic;
}

.persona p {
    font-size: 14px;
    padding: 2px 8px;
}